/*COLORS*/
@use './colors'as colors;

/*MIXINS*/
@import './mixins';

@media (min-width: 576px) {

    /*NAV-MOBILE*/
    .nav-mobile {
        display: none;
    }

    /*NAV DESKTOP*/
    .nav-desktop {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.5em;
        position: fixed;
        font-size: 1.6rem;
        letter-spacing: 1px;
        transition: background-color .3s;
        z-index: 100;

        a {
            font-size: 1.8rem;
            color: colors.$white;
            text-decoration: none;
            padding: 10px;
            transition: color .3s;
            align-self: center;
            cursor: pointer;

            &:hover {
                color: colors.$blue-main;
            }
        }

        &__box {
            display: flex;
        }

        &__logo {
            display: flex;
            justify-content: flex-end;
            padding: 10px;

            i {
                font-size: 3rem;
                color: colors.$blue-main;
            }
        }
    }

    /*HEADER*/
    .header {
        @include heroImages('../../src/img/header/header_big.jpg');

        &__btn {
            position: unset;
        }
    }

    /*ABOUT ME*/
    .about-me {
        @include aboutMeContactMedium;

        &__left {
            @include aboutMeContactMediumFirstChild;
            padding: 0.5em;
        }

        &__right {
            grid-column: 2/3;
            grid-row: 1/2;
            justify-content: center;
            align-items: flex-start;
            padding: 1em;
        }

        &__text {
            padding: 0 0 1em 0;
            text-align: left;
        }

        &__btn {
            position: unset;
        }
    }


    /*ARTICLES*/
    .articles {

        .first {
            @include heroImages('../../src/img/articles/articles_01-big.png');
        }

        .second {
            @include heroImages('../../src/img/articles/articles_02-big.png');
        }

        .third {
            @include heroImages('../../src/img/articles/articles_03-big.png');
        }

        &__controls {

            justify-content: flex-start;
        }

        &__square {
            margin: 0 20px;
            width: 50px;
        }

        &__arrow {
            display: block;
            font-size: 4rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: colors.$white;
            text-decoration: none;
            z-index: 10;
            margin: 0 20px;
            cursor: pointer;
        }

        .right {
            right: 0;
        }
    }

    /*CONTACT*/
    .contact {
        @include aboutMeContactMedium;

        &__left {
            @include aboutMeContactMediumFirstChild;
            align-items: flex-start;
            padding: 1em;
        }

        &__text {
            padding: 0 0 1em 0;
            text-align: left;
        }

        &__icons {
            .special-icon {
                padding-left: 0;
            }
        }

        &__right {
            @include aboutMeContactFirstChild;
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }
}

@media (min-width: 768px) {

    /*NAV DESKTOP*/
    .nav-desktop {
        padding: 0 1em;

        &__logo {
            i {
                font-size: 4rem;
            }
        }
    }

    /*ARTICLES*/
    .articles {
        &__square {
            width: 60px;
        }
    }

    /*CONTACT*/
    .contact {
        &__icons {
            font-size: 5rem;
        }
    }

    /*FOOTER*/
    .footer {
        &__links {
            display: flex;
        }

        &__link {
            &:first-child {
                padding-left: 0.5em;
            }
        }

        &__logo {
            margin-top: 40px;
        }
    }

}

@media (min-width: 992px) {

    /*NAV DESKTOP*/
    .nav-desktop {
        font-size: 2rem;
    }

    /*CONTACT*/
    .contact {
        &__icons {
            font-size: 6rem;
        }
    }

    /*FOOTER*/
    .footer {
        &__link {
            font-size: 2rem;
        }
    }
}