/*RESET*/
@use './reset';

/*COLORS*/
@use './colors'as colors;

/*COMPONTENTS*/
@use './compontents';

/*MIXINS*/
@import './mixins';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 62.5px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*NAV DESKTOP*/
.nav-desktop {
    display: none;
}

/*HEADER*/
.header {
    height: 100vh;
    color: colors.$white;
    @include heroImages('/src/img/header/header_mini.jpg');

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    &__main {
        position: relative;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-align: center;
        font-weight: bold;
    }

    &__text {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 2em;
        color: colors.$grey-header;
    }

    &__button {
        background-color: transparent;
        border: none;
    }

    &__btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: colors.$shadow;
    }
}

/*ABOUT ME*/
.about-me {
    display: flex;
    flex-direction: column;

    &__left {
        display: flex;
        justify-content: center;
        padding: 1em;

        img {
            width: 100%;
            height: 100%;
            border-bottom: 10px solid colors.$blue-main;
            object-fit: cover;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
    }

    &__title {
        color: colors.$blue-main;
    }

    &__text {
        padding: 1em;
    }
}

/*ARTICLES*/
.articles {
    position: relative;
    height: 70vh;

    &__carousel {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 1s;
        opacity: 0;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: colors.$shadow;
        }

        &:nth-child(1) {
            opacity: 1;
            z-index: 1;
        }
    }

    &__title {
        color: colors.$white;
        z-index: 0;
    }

    &__info {
        padding-bottom: 1em;
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
        color: colors.$grey-header;
        z-index: 0;
    }

    &__btn {
        z-index: 10;
    }

    .first {
        @include heroImages('/src/img/articles/articles_01-small.png');
    }

    .second {
        @include heroImages('/src/img/articles/articles_02-small.png');
    }

    .third {
        @include heroImages('/src/img/articles/articles_03-small.png');
    }

    &__controls {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        z-index: 10;
    }

    &__square {
        cursor: pointer;
        width: 40px;
        height: 20px;
        border: 2px solid colors.$blue-main;
        border-radius: 3px;
        transition: background-color .8s;
    }

    .square-active {
        background-color: colors.$blue-main;
    }

    &__arrow {
        display: none;
    }
}

/*CONTACT*/ 
.contact {
    
}


/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';