/*RESET*/
@use './reset';

/*COLORS*/
@use './colors'as colors;

/*COMPONTENTS*/
@use './compontents';

/*MIXINS*/
@import './mixins';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 62.5px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.body-no-scroll {
    overflow-y: hidden;
}

.shadow-bg {
    background-color: colors.$shadowNav;
}

/*NAV-MOBILE*/
.nav-mobile {
    position: fixed;
    width: 100vw;
    height: 56px;
    z-index: 100;

    &__items {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transform: translateX(102%);
        transition: transform .3s;

        &--active {
            transform: translateX(0);
        }
    }

    &__item {
        text-decoration: none;
        color: colors.$black;
        padding: 1em;
        font-size: 3rem;
    }
}

/*NAV DESKTOP*/
.nav-desktop {
    display: none;
}

/*HEADER*/
.header {
    height: 100vh;
    color: colors.$white;
    @include heroImages('/src/img/header/header_mini.jpg');

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    &__main {
        position: relative;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-align: center;
        font-weight: bold;
    }

    &__text {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 2em;
        color: colors.$grey-header;
    }

    &__button {
        background-color: transparent;
        border: none;
    }

    &__btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: colors.$shadow;
    }
}

/*MAIN*/
main {
    background-image: url('../img/Sprinkle.svg');

}

/*ABOUT ME*/
.about-me {
    @include aboutMeContact;

    &__left {
        @include aboutMeContactFirstChild;
    }

    &__right {
        @include aboutMeContactSecondChild;
    }

    &__text {
        @include aboutMeContactText;
    }
}

/*ARTICLES*/
.articles {
    position: relative;
    height: 70vh;

    &__carousel {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 1s;
        opacity: 0;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: colors.$shadow;
        }

        &:nth-child(1) {
            opacity: 1;
            z-index: 1;
        }
    }

    &__title {
        color: colors.$white;
        z-index: 0;
    }

    &__info {
        padding-bottom: 1em;
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
        color: colors.$grey-header;
        z-index: 0;
    }

    &__btn {
        z-index: 10;
    }

    .first {
        @include heroImages('/src/img/articles/articles_01-small.png');
    }

    .second {
        @include heroImages('/src/img/articles/articles_02-small.png');
    }

    .third {
        @include heroImages('/src/img/articles/articles_03-small.png');
    }

    &__controls {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        z-index: 10;
    }

    &__square {
        cursor: pointer;
        width: 40px;
        height: 20px;
        border: 2px solid colors.$blue-main;
        border-radius: 3px;
        transition: background-color .8s;
    }

    .square-active {
        background-color: colors.$blue-main;
    }

    &__arrow {
        display: none;
    }
}

/*CONTACT*/
.contact {
    @include aboutMeContact;

    &__right {
        display: none;
    }

    &__left {
        @include aboutMeContactSecondChild;
    }

    &__text {
        @include aboutMeContactText;
    }

    &__icons {
        padding: 0.5em 0;
        font-size: 3.5rem;

        a {
            color: colors.$blue-main;
            padding: 0.5em;

            i {
                transition: transform .3s;
            }

            &:hover>i {
                transform: scale(1.2)
            }
        }
    }
}

/*FOOTER*/
.footer {
    background: colors.$footerShadow;

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 4fr 1fr;
        background: colors.$footerShadow;
        overflow: hidden;
        color: colors.$white;
    }

    &__links {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 0.5em;
        color: colors.$white;
        font-size: 1.7rem;
        transition: color .3s;

        &:hover {
            color: colors.$blue-main;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 5rem;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: -1/1;
        grid-row: 2/3;
        background-color: colors.$black;
    }

    &__text {
        padding: 0.7em;
        color: colors.$grey-header;
        text-align: center;
    }
}

/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';