$white: white;
$black: black;
$shadow: rgba(0, 0, 0, 0.3);
$shadowTwo: rgba(0, 0, 0, .6);
$shadowNav: rgba(0, 0, 0, 0.8);
$footerShadow: rgb(43, 43, 43);
$blue-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 212, 255, 1) 100%);
$blue-main: rgba(0, 212, 255, 1);
$grey-header: #bebaba;
$red: rgba(255, 0, 0, 0.4);
$blue: rgba(0, 0, 255, 0.4);
$green: rgba(0, 128, 0, 0.4);