/*COLORS*/
@use './colors'as colors;

@mixin heroImages($bgImg) {
    background-image: colors.$blue-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    // background-attachment: scroll;
    background-attachment: fixed;
    //dać docelowo bga fixed bo lepiej wygląda tylko na IOS wyłączyć skryptem 
}

@mixin shadow($shadow) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $shadow;
}

@mixin beforeHeader($color) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: $color;
}

@mixin aboutMeContact {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    color: colors.$blue-main;
}

@mixin aboutMeContactFirstChild {
    display: flex;
    justify-content: center;
    padding: 1em;
}

@mixin aboutMeContactSecondChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 3em 0;
}

@mixin aboutMeContactText {
    padding: 1em;
}

@mixin aboutMeContactMedium {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 0 auto;
}

@mixin aboutMeContactMediumFirstChild {
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

@mixin centeringContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin propertiesForAllPosts {
    position: inherit;
    z-index: 2;
}