/*RESET*/
@use './reset';

/*COLORS*/
@use './colors'as colors;

/*COMPONTENTS*/
@use './compontents';

/*MIXINS*/
@import './mixins';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 62.5px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.body-no-scroll {
    overflow-y: hidden;
}

.shadow-bg {
    background-color: colors.$shadowNav;
}

.invisible {
    visibility: hidden;
}

/*NAV-MOBILE*/
.nav-mobile {
    position: fixed;
    width: 100vw;
    height: 56px;
    z-index: 100;

    &__items {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transform: translateX(102%);
        transition: transform .3s;

        &--active {
            transform: translateX(0);
        }
    }

    &__item {
        text-decoration: none;
        color: colors.$black;
        padding: 1em;
        font-size: 3rem;
    }

    .active {
        color: colors.$blue-main;
    }
}

/*NAV DESKTOP*/
.nav-desktop {
    display: none;
}

/*HEADER*/
.header {
    height: 100vh;
    color: colors.$white;
    @include heroImages('../../src/img/header/header_mini.jpg');

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    &__main {
        position: relative;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        padding: 0 0.5em;
        text-align: center;
        font-weight: bold;
    }

    &__text {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1em 2em 1em;
        color: colors.$grey-header;
    }

    &__button {
        background-color: transparent;
        border: none;
    }

    &__btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: colors.$shadow;
    }
}

/*HEADER SUBSITES*/
.header-absolute {
    @include heroImages('../../src/img/header/header subsites/header-absolute_mini.jpeg');
}

.header-allposts {
    @include heroImages('../../src/img/header/header subsites/allposts_mini.jpeg');
}

/*MAIN - MAIN PAGE*/
main {
    background-image: url('../img/Sprinkle.svg');
}

/*ABOUT ME*/
.about-me {
    @include aboutMeContact;

    &__left {
        @include aboutMeContactFirstChild;

        .hero-gradient {
            &::before {
                background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 212, 255, 1) 100%);
            }
        }
    }

    &__right {
        @include aboutMeContactSecondChild;
    }

    &__text {
        @include aboutMeContactText;
    }
}

/*ARTICLES*/
.articles {
    position: relative;
    height: 70vh;
    background-color: colors.$white;

    &__carousel {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 1s;
        opacity: 0;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: colors.$shadow;
        }

        &:nth-child(1) {
            opacity: 1;
            z-index: 1;
        }
    }

    &__title {
        text-align: center;
        color: colors.$white;
        z-index: 0;
    }

    &__info {
        padding: 1em 2em;
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
        color: colors.$grey-header;
        z-index: 0;
    }

    &__btn {
        z-index: 10;

        a {
            text-decoration: none;
            color: colors.$blue-main;
        }
    }

    .first {
        @include heroImages('../../src/img/articles/articles_01-small.png');
    }

    .second {
        @include heroImages('../../src/img/articles/articles_02-small.png');
    }

    .third {
        @include heroImages('../../src/img/articles/articles_03-small.png');
    }

    &__controls {
        display: none;
    }

    .square-active {
        background-color: colors.$blue-main;
    }

    &__arrow {
        cursor: pointer;
        margin: 0 20px;
        position: absolute;
        bottom: 10px;
        font-size: 3rem;
        color: colors.$white;
        z-index: 10;
    }

    .right {
        right: 0;
    }
}

/*CONTACT*/
.contact {
    @include aboutMeContact;

    &__right {
        display: none;
    }

    &__left {
        @include aboutMeContactSecondChild;
    }

    &__text {
        @include aboutMeContactText;
    }

    &__icons {
        padding: 0.5em 0;
        font-size: 3.5rem;

        a {
            color: colors.$blue-main;
            padding: 0.5em;

            i {
                transition: transform .3s;
            }

            &:hover>i {
                transform: scale(1.2)
            }
        }
    }
}

/* --- MAIN - ARTICLES --- */

/*ABSOLUTE SUBSITE*/
.absolute {

    /*WHY*/
    &__why {
        padding: 0.5em;

        &--right,
        &--left {
            padding: 0.5em;
            @include centeringContent;
        }

        &--left,
        &--right {

            img {
                text-align: center;
                width: 100%;
                max-width: 400px;
            }
        }
    }

    /*PUZZLES*/
    &__puzzles {
        padding: 0.5em;

        &--pdf {
            @include centeringContent;
            flex-direction: row;
            padding: 1em 0;
            color: colors.$blue-main;

            i,
            p {
                color: colors.$blue-main;
            }

            i {
                font-size: 2rem;
                padding: 0.5em;
            }

            a {
                text-decoration: none;
            }
        }

        &--info {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background-color: colors.$grey-header;
            max-width: 800px;
            padding: 1em;
            margin: 2em 0;
            border-radius: 10px;
            text-align: center;
        }
    }

    &__mistakes {
        padding: 0.5em;
    }

    &__reflections {
        padding: 0.5em;

        .text {
            padding-bottom: 2em;
        }
    }
}

/* ALLPOSTS */

.allposts {
    position: relative;
    margin: 1em auto;


    &__post {
        position: relative;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: colors.$white;
        @include heroImages('../../src/img/articles/articles_01-small.png');
        margin: 4em auto;


        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: colors.$shadow;
        }
    }

    &__text {
        color: colors.$grey-header;
    }

    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        border: none;
        margin-top: 1em
    }

    &__title,
    &__text,
    &__button {
        @include propertiesForAllPosts;
        @include centeringContent;
        text-align: center;
    }

    .second {
        @include heroImages('../../src/img/articles/articles_02-small.png');
    }

    .third {
        @include heroImages('../../src/img/articles/articles_03-small.png');
    }
}


/*FOOTER*/
.footer {
    background: colors.$footerShadow;

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: colors.$footerShadow;
        overflow: hidden;
        color: colors.$white;
    }

    &__links {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 0.5em;
        color: colors.$white;
        font-size: 1.7rem;
        transition: color .3s;

        &:hover {
            color: colors.$blue-main;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 4rem;

        a {
            text-decoration: none;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: -1/1;
        grid-row: 2/3;
        background-color: colors.$black;
    }

    &__text {
        padding: 0.7em;
        color: colors.$grey-header;
        text-align: center;
    }
}

/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';